<div class="navbar-fixed">
  <nav class="grey darken-3">
   <div class="nav-wrapper">
     <ul class="menu-right">
       <li><a href="#top">Logo</a></li>
       {{#if locals.session.pseudo}}
         <li><a href="deconnexion">Déconnexion</a></li>
        {{else}}
          <li><a href="#inscription">Inscription</a></li>
        {{/if}}
     </ul>
     <ul id="nav-mobile" class="left">
        {{#if locals.session.pseudo}}
          <li><i class="mdi mdi-social-person"></i><a href="home">Home</a></li>
        {{else}}
          <li><i class="mdi mdi-social-person block"></i><a href="connexion">Connexion</a></li>
        {{/if}}
     </ul>
   </div>
 </nav>
</div>
